NET "c2" LOC=V10 | IOSTANDARD  = LVCMOS33;  
NET "c1" LOC=U11 | IOSTANDARD  = LVCMOS33;
NET "c0" LOC=U12 | IOSTANDARD  = LVCMOS33;    
NET "t" LOC=C17 | IOSTANDARD  = LVCMOS33;
NET "mp" LOC=D14 | IOSTANDARD  = LVCMOS33;    
NET "mn" LOC=K1 | IOSTANDARD  = LVCMOS33;
NET "b" LOC=G1 | IOSTANDARD  = LVCMOS33;
NET "enable" LOC=V11 | IOSTANDARD  = LVCMOS33;
NET "dir1" LOC=D18 | IOSTANDARD  = LVCMOS33;
NET "dir2" LOC=F16 | IOSTANDARD  = LVCMOS33;
NET "i2" LOC=A13 | IOSTANDARD  = LVCMOS33;            
NET "i1" LOC=A15 | IOSTANDARD  = LVCMOS33;            
NET "i0" LOC=B16 | IOSTANDARD  = LVCMOS33; 
NET "clk" LOC=E3 | IOSTANDARD  = LVCMOS33;
NET "reset" LOC=H6 | IOSTANDARD  = LVCMOS33;    
